
<style>

    .container {
        width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }

    .value {
        text-decoration: none;
        width: 35px;
        height: 35px;
        background-color: #8257e6;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        margin: 0px 3px;
        color: white;

    }

    .level {
        display: flex;
        margin: 10px;
        justify-content: space-between;
        width: 410px;
    }

    .answers {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
</style>

<div class="container">
    <h4>Olá, <strong>{{name}}</strong>!</h4>
    <h3>{{title}}</h3>
    <strong>{{description}}</strong>

    <div class="level">
        <span>Pouco Provável</span>
        <span>Muito Provável</span>
    </div>

    <div class="answers">
        <a class="value" href="{{link}}/1?u={{id}}">1</a>
        <a class="value" href="{{link}}/2?u={{id}}">2</a>
        <a class="value" href="{{link}}/3?u={{id}}">3</a>
        <a class="value" href="{{link}}/4?u={{id}}">4</a>
        <a class="value" href="{{link}}/5?u={{id}}">5</a>
        <a class="value" href="{{link}}/6?u={{id}}">6</a>
        <a class="value" href="{{link}}/7?u={{id}}">7</a>
        <a class="value" href="{{link}}/8?u={{id}}">8</a>
        <a class="value" href="{{link}}/9?u={{id}}">9</a>
        <a class="value" href="{{link}}/10?u={{id}}">10</a>
    </div>
    
    <strong>Sua opinião é muito importante para nós</strong>
    <h3>Equipe | <strong>NLW</strong></h3>
</div>